<!DOCTYPE html>

<html>
    <head>
        <title>Registro</title>
    </head>
    <body>
        <h1>Registro de estudiante</h1>
        <form action="/register" method="POST">
            <input name="name" placeholder="Name" type="text">
            <input name="mail" placeholder="Mail" type="text">
            <select name="carrera">
                <option value="Data Science">Data Science</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Ingenieria Mecanica ">Ingenieria Mecanica</option>
                <option value="Bioingenieria">Bioingenieria</option>
                <option value="Ingenieria Quimica">Ingenieria Quimica</option>
                <option value="Ingenieria Mecatronica">Ingenieria Mecatronica</option>
                <option value="Ingenieria Civil">Ingenieria Civil</option>
                <option value="Ingenieria Electronica">Ingenieria Electronica</option>
            </select>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
